<html>
<body>
{% include 'heading.html' %}
<table>
    <tr>
        <th width="200">
<h3 style="text-decoration: none; color:darkblue">User</h3>
<h3 style="text-decoration: none; color:darkblue">Admin</h3>
<h3 style="text-decoration: none; color:darkblue">Manager</h3>
</th><br><br><br><br>
        <th><h3 style="color:green">Bank administrators to manage customers.
            It serves as a bridge between 'social investors' and
            people who need small amounts of money to improve their
            business and financial position. Microfinance has become a
            mainstream instrument for providing access to formal financial
            services for vulnerable sections of people. The power of people
            participation through the PCO/CSC booths has been harnessed successfully
            on a large scale with significant benefits.</h3></th>
    </tr>
</table>
</body>
</html>