{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<body>


<table>
    <tr>
        <th width="200">
            <h3 style="text-decoration: none; color:darkblue"><a href="/Finance_Details/"> FinanceDetails</a></h3>
            <h3 style="text-decoration: none; color:darkblue"><a href="/loancreation/"> LoanCreation </a></h3>
            <h3 style="text-decoration: none; color:darkblue"><a href="/assistance/">Assistance</a></h3>
            <h3 style="text-decoration: none; color:darkblue"><a href="/cust_det/">Customer_Deatils</a></h3>
            <h3 style="text-decoration: none; color:darkblue"><a href="/index/"> Logout</a></h3>
</th>
<br><br></tr>

</table>
</body>
</html>