{% load staticfiles %}

{% include 'heading.html' %}
<font color="#006400">
    <form action="/saveloan/" method="post">
        {% csrf_token %}

<table><tr><th width="500">{% include 'admin_sideindex.html' %}</th>

<th><table  border="1" align="center">
    <tr><td>Username:</td><td><input type="text" name="un"></td></tr>
    <tr><td>Loan Id :</td><td><input type="text" name="id"></td></tr>
    <tr><td>Loan_amount:</td><td><input type="text" name="loan_amnt"></td></tr>
    <tr><td>Loan Type :</td><td><select name="Loan_type">
        <option value="select">--select--</option>
        <option value="Education">Education</option>
	    <option value="CULTIVATION">CULTIVATION</option>
        <option value="HOME">HOME</option>
	    <option value="GOLD">GOLD</option>
	    </select></td></tr>
    <tr><td>No of Instalment :</td><td><input type="text" name="insta_no"></td></tr>
    <tr><td>Installment Amount:</td><td><input type="number" name="insta_amnt"></td></tr>
    <tr><td> payment date:</td><td><input type="date" name="date"></td></tr>
    <tr><th colspan="2"><input type="submit" value="Submit"></th> </tr>
    </table></th></tr></table></form></font>