{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><table>
    <tr>
        <th width="200">
            <h3 style="text-decoration: none; color:darkblue"><a href="/manage_loan_hist/"> History Of Loans</a></h3>
            <h3 style="text-decoration: none; color:darkblue"><a href="/Payment_det/">Customer payment Details</a></h3>
            <h3 style="text-decoration: none; color:darkblue"><a href="/Approve_loans/">Approve Loans</a></h3>
            <h3 style="text-decoration: none; color:darkblue"><a href="/index/">Logout</a></h3>
</th>
<br><br></tr>

</table>
</body>
</html>