{% load staticfiles %}

{% include 'heading.html' %}
<font color="#006400">
<form  method="post">
    {% csrf_token %}

<table ><tr><th width="500">{% include 'manager_sideindex.html' %}</th>
<th><table  border="1">
    <tr><th>Loan_Id</th>
    <th>Installment_amnt</th>
    <th>Payment_type</th>
    </tr>
    {% for x in data %}
        <tr><th>{{ x.Loan_Id }}</th>
    <th>{{ x.Installment_amount }}</th>
    <th>{{ x.Payment }}</th>
    </tr>
    {% endfor %}
</table></th></tr></table></form></font>